<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
    <script src="../js/index.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>Toppage</title>
</head>
<body>
<%- include("partials/header.ejs") %>

<div class="col-3 table1 ">
    <img src="/img/<%= data[0].car_detail_id %>.jpg" id="topimg"  width="500" >
    <ul class="list1">
        <li>評価</li>
        <p id ="evaluation" class="">4</p>
    </ul>
</div>
<hr>
<div class="col-8">
    <table class="table table-bordered table-hover">
        <tr >
            <th colspan="4" class="money">￥10000</th>
        </tr>
        <tr>
            <td>年式</td>
            <td><%= data[0].car_age %>年</td>
            
            <td>型式</td>
            <td><%= data[0].car_model %></td>
        </tr>
        <tr>
            <td>ボディタイプ</td>
            <td><%= data[0].car_shape %></td>
            
            <td>トランスミッション</td>
            <% if(data[0].car_inspection == 0){ %>
                <td>AT</td>
            <% } else{ %>
                <td>MT</td>
            <% } %>
        </tr>
        <tr>
            <td>シフトレバーの位置</td>
            <% if(data[0].car_leverposition == 0){ %>
                <td>フロア</td>
            <% } else{ %>
                <td>コラム</td>
            <% } %>
            
            <td>ギア速</td>
            <td><%= data[0].car_gear %>速</td>
        </tr>
        
        <tr>
            <td>
                外装色
            </td>
            <td><%= data[0].car_ecolor %></td>
        
            <td>内装色</td>
            <td><%= data[0].car_icolor %></td>
        
        </tr>
        <tr>
            <td>車歴</td>
            <td><%= data[0].car_history %>年</td>
        
            <td>走行距離</td>
            <td><%= data[0].car_mileage %>km</td>
        <tr>
            <td>ドア枚数</td>
            <td><%= data[0].car_door %>マイ</td>
        
            <td>乗員人数</td>
            <td><%= data[0].car_crew %>人</td>
        </tr>
        <tr>
            <td>駆動方式</td>
            <td><%= data[0].car_drivesys %></td>
        
            <td>燃料</td>
            <td><%= data[0].car_fuel %></td>
        </tr>
        <tr>
            <td>排気量</td>
            <td><%= data[0].car_displacement %>cc</td>
            
            <td>車検</td>
            <% if(data[0].car_inspection == 0){ %>
                <td>無</td>
            <% } else{ %>
                <td>無</td>
            <% } %>
        
        </tr>
        <tr>
            <td>修理歴</td>
            <% if(data[0].car_repairhistoroy == 0){ %>
                <td>無し</td>
            <% } else{ %>
                <td>あり</td>
            <% } %>
        
            <td>ハンドル</td>
            <% if(data[0].car_fhandle == null){ %>
                <td>右</td>
            <% } else{ %>
                <td>左</td>
            <% } %>
        
        </tr>
        <tr>
            <td>備考</td>
            <td colspan="3"><%= data[0].car_remarks %></td>
        </tr>
    </table>
</div>
<div id ="auction" >
    <p>入札件数:</p><p id="remainingDate">残り時間</p>
    <p>現在価格:<%= data[0].bid_price %></p>
<form action="/"  method="post" id = "auction">
    <p>金額:<input type="text" id ="auction"></p>
    <input type ="button" class="btn btn-warning" value ="入札する">
</form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script> 
    const auctionid =  "<%= data[0].id %>";
    const userid =  "<%= userid %>";
    let end_time = "<%= data[0].end_time %>";

    console.log(end_time);
    function countdownTimer(){
        var now_time = new Date();
        var difference = end_time - now_time;
        console.log(difference);

        if(difference >= 0){
            var hour = Math.floor(difference / (1000 * 60 * 60));
            difference -= (hour *(1000 * 60 * 60));
            var minutes = Math.floor(difference / (1000 * 60));
            difference -= (minutes * (1000 * 60));
            var second = Math.floor(difference / 1000);
            var remaining = "";
            remaining += ("0" + hour).slice(-2) + ':';
            remaining += ("0" + minutes).slice(-2) + ':';
            remaining += ("0" + second).slice(-2);
            document.getElementById("nowDate").innerHTML = new Date().toString();
            document.getElementById("remainingDate").innerHTML = remaining;
            setTimeout(countdownTimer, 250);
        }
        else{
            var inputElement = document.querySelector('input[type="submit"]');
            inputElement.disabled = true;
        }
    }
    countdownTimer();
</script>
<script src="/js/javascript.js"></script>

</body>
</html>