<%- include("partials/header.ejs") %>

<h1>Hello<%= data[0].name %>さん</h1>

<ul id="ul">
    <li><a href="../chat/<%= data[0].id %>">チャットルーム1へ</a></li>
</ul>

<ul id="output">
    <% for(var i = 0; i < data.length; i++) { %>
        <li><%= data[i].username %>　　<%= data[i].message %></li>
    <% } %>
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="../js/javascript.js"></script>

<%- include("partials/footer.ejs") %>