<%- include("partials/header.ejs") %>

<h1><%= data[0].car_name %>詳細画面</h1>
<table>
    <tbody>
        <tr>
            <td>スタート時刻：</td>
            <td><%= data[0].start_time %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>現在時刻：</td>
            <td id="nowDate"></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>終了時刻：</td>
            <td id="endDate"><%= data[0].end_time %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>残り時間：</td>
            <td id="remainingDate"></td>
        </tr>
    </tbody>
</table>
    
<p>現在価格：<p>
<h1 id="nowprice"><%= data[0].bid_price %></h1>

<form id="chatForm">
    
    入札金額<input id="price" type="text">
    <input type="submit" class="button" value="bit"></p>
</form>

<ul id="output">
</ul>

<script src="/socket.io/socket.io.js"></script>
<script> 
    const auctionid =  "<%= data[0].id %>";

    var endDate = new Date(document.getElementById("endDate").textContent);
    console.log(endDate);
    function countdownTimer(){
        var nowDate = new Date();
        var difference = endDate - nowDate;

        if(difference >= 0){
            var hour = Math.floor(difference / (1000 * 60 * 60));
            difference -= (hour *(1000 * 60 * 60));
            var minutes = Math.floor(difference / (1000 * 60));
            difference -= (minutes * (1000 * 60));
            var second = Math.floor(difference / 1000);
            var remaining = "";
            remaining += ("0" + hour).slice(-2) + ':';
            remaining += ("0" + minutes).slice(-2) + ':';
            remaining += ("0" + second).slice(-2);
            document.getElementById("nowDate").innerHTML = new Date().toString();
            document.getElementById("remainingDate").innerHTML = remaining;
            setTimeout(countdownTimer, 250);
        }
        else{
            var inputElement = document.querySelector('input[type="submit"]');
            inputElement.disabled = true;
        }
    }
    countdownTimer();
</script>
<script src="/js/javascript.js"></script>

<%- include("partials/footer.ejs") %>